<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <title>Dining Recommendations</title>
    <link rel="stylesheet" href="./css/results_page_styles.css" type="text/css">
    <link rel="icon" href="./img/burger-icon.ico">
  </head>
  <body>
    <header>
        <div id="header-logo">
            <a href='./#index' title="Return to Smart Dining Services Homepage">
                <img id="logo" src='./img/sdslogo.png' width="145" height="144" alt="Logo: SDS" />
            </a>
        </div>
        <div id="header-section" role="navigation">
            <a href='./#index'>
                <div id="group">Smart Dining Services</div>
                <div id="title">Recommended Entrées</div>
            </a>
        </div>
    </header>
    <header>
      <!--Navigation Bar-->
      <b><div class="topnav">
          <a href="./">Home</a>
          <a href="./about">About Us</a>
          <a href="./calorie">Smart Dining Form</a>
      </div></b>
    </header>
    <article>
      <p id="options">Options for <%- minCalories %> - <%- maxCalories %> calories:</p>
      <button class="collapsible">Pines</button>
      <div class="content">
        <% if(pines.length == 0) { %>
          <p style="color:red; font-weight:bold">No current data</p>
        <% } else { %>
          <% pines.forEach(food => { %>
            <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
              <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
              <p>Calories: <%- food.calories %></p>
            <% } %>
          <% }); %>
        <% }%>
      </div>
      <button class="collapsible">OceanView</button>
      <div class="content">
        <% if(ovt.length == 0) { %>
          <p style="color:red; font-weight:bold">No current data</p>      
        <% } else { %>
          <% ovt.forEach(food => { %>
            <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
              <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
              <p>Calories: <%- food.calories %></p>
            <% } %>
          <% }); %>
        <% }%>
      </div>
      <button class="collapsible">Goody's Place</button>
      <div class="content">
          <% if(goodys.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% goodys.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
      <button class="collapsible">Foodworx</button>
      <div class="content">
          <% if(foodworx.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% foodworx.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
      <button class="collapsible">Club Med</button>
      <div class="content">
          <% if(clubMed.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% clubMed.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
      <button class="collapsible">Cafe Ventanas</button>
      <div class="content">
          <% if(cafeV.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% cafeV.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
      <button class="collapsible">Warren Food Trucks</button>
      <div class="content">
          <% if(wft.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% wft.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
      <button class="collapsible">Roots</button>
      <div class="content">
          <% if(roots.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% roots.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
      <button class="collapsible">64 Degrees</button>
      <div class="content">
          <% if(sixtyFour.length == 0) { %>
            <p style="color:red; font-weight:bold">No current data</p>
          <% } else { %>
            <% sixtyFour.forEach(food => { %>
              <% if(food.calories >= minCalories && food.calories <= maxCalories) {%>
                <p style="font-weight:bold"><%- food.name %> : <%- food.price %></p>
                <p>Calories: <%- food.calories %></p>
              <% } %>
            <% }); %>
          <% }%>
      </div>
    </article>

    <footer>
      <p>Any problems with the site? Feel free to <a id="address" href = "mailto: shungo.najima@gmail.com">email us!</a></p>
    </footer>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
           } else {
            content.style.maxHeight = content.scrollHeight + "px";
           } 
        });
      }
    </script>

  </body>
</html>
